/* Make publication titles black */
.archive__item-title a {
  color: #333	 !important;
  text-decoration: none;
}

.archive__item-title a:hover {
  color: #333	 !important;
  text-decoration: underline; /* or keep none if you prefer */
}
